* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Declare Variables */

:root {
    --text: white;
    --font: "Goudy Bookletter 1911", sans-serif;
    --bold: bold;
    --border: 2px solid black;
    --border2: 1.5px solid white;
    --border3: 3px solid white;
    --buttonborder: 2px solid white;
    --bg1: rgb(0, 79, 168);
    --bg2: rgba(0, 78, 168, 0.781);
    --bg3: rgba(0, 0, 0, 0.753);
    --silver: #0f0f0f;
    --silverop: #0f0f0fbe;
    --mrg: 30px;
}

/* Element Selectors */

main {
    display: flex;
    flex-direction: row wrap;
    background-color: var(--text);
}

h1,
h2,
h3,
h4,
p {
    font: var(--font);
    font-weight: var(--bold);
    text-align: center;
}

h1,
h4 {
    font-size: 200%;
}

h3 {
    margin-top: 100px;
}

h3 {
    font-size: 150%;
}

/* Class Selectors */

.startbutton {
    margin: 0 10px;
    background-color: var(--bg1);
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    color: var(--text);
    font: var(--font);
    font-size: 120%;
    cursor: pointer;
}

.startbutton:hover,
.submitbutton:hover {
    background-color: var(--bg2);
    padding: 8px 23px;
    border: var(--border);
}

.startbutton:active,
.submitbutton:active {
    background-color: var(--text);
    padding: 8px 23px;
    border: var(--border);
    color: black;
}

.choice {
    background-color: var(--bg1);
    border: none;
    padding: 10px 25px;
    margin: 5px 0px;
    color: var(--text);
    font: var(--font);
    font-size: 120%;
    cursor: pointer;
}

.choice:hover {
    background-color: var(--bg2);
}

.choice:active {
    background-color: var(--text);
    color: black;
}

.leftwrapper {
    flex: 1 50%;
    height: 100vh;
    border: var(--border);
} 

.rightwrapper {
    flex: 1 50%;
    position: relative;
    height: 100vh;
    border: var(--border);
}

.inputwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputform {
    width: 300px;
    height: 30px;
}

.submitbutton {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    background-color: var(--bg1);
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    color: var(--text);
    font: var(--font);
    cursor: pointer;
}

.choicewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.choice {
    height: 75px;
    width: 300px;
    margin: 50px, 15px;
    background-color: var(--bg1);
    padding: 10px 25px;
    color: var(--text);
    font: var(--font);
    font-size: 120%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.header,
.rightheader {
    flex: 1 50%;
    height: 100px;
    margin-top: var(--mrg);
}

.instructions {
    height: 100%;
    padding: 50px 50px 40px 50px;
    border-bottom: 3px solid black;
}

.scorewrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.buttonwrapper {
    flex: 1 50%;
    height: 100%;
    height: 100%;
    margin-top: 12%;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 75px;
}

.scoretimer {
    flex: 1 50%;
    height: 100%;
    margin-top: 8%;
}

.scoretext,
.timetext {
    margin-top: var(--mrg);
    font: var(--font);
    font-weight: var(--bold);
}

.timer > p,
.score > p {
    text-align: left;
    margin-left: 20px;
    font-size: 120%;
}

.question,
.questionwrapper,
.alert {
    margin: var(--mrg) 0;
}

.questionwrapper {
    border-bottom: var(--border);
}

.winlosscontainer {
    width: 100%;
    font-size: 110%;
}

.winlosscontainer > p {
    margin-left: 20px;
    text-align: left;
}

.score {
    text-align: center;
    background-color: var(--bg1);
    color: var(--text);
    font: var(--font);
}